#project {
	padding: 10px;
	overflow: hidden;
}
#project h2 {
	font-size: 24px;
	color: black;
}
#project hr {
	margin: 0;
	border-top: 5px solid #747474;
}
.project {
	margin-top: 20px;
	max-height: 310px;
}
.minh{
	min-height: 310px;
}
.project .pull-left img{
	max-width: 145px;
}
.left ol {
	margin:0;
}
 
.white {
	background-color: white;
}

img {
	width: 100% !important;
}

.contactImg {
	width: 100px !important;
}