
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>配件及耗材</title>
	
	<!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/project.css">
	
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head><!--/head-->

<body>

    <header id="header">

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">首页</a></li>
                        <li><a href="about-us.html">关于我们</a></li>
                        <li class="dropdown">
                            <a href="project.html" class="dropdown-toggle" data-toggle="project.html">产品中心<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="project.html#diy">DIY桌面级3D打印机</a></li>
                                <li><a href="project.html#edu">教育类智能3D打印机</a></li>
                                <li><a href="project.html#ind">工业级智能3D打印机</a></li>
                                <li><a href="project.tml#stm">Steam教育方案</a></li>
                            </ul>
                        </li>
                        <li class="dropdown active">
                            <a href="accessory.html" class="dropdown-toggle" data-toggle="accessory.html">配件及耗材<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="accessory.html#1">打印机配件</a></li>
                                <li><a href="accessory.html#2">打印机耗材</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="services.html" class="dropdown-toggle" data-toggle="services.html">服务支持<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="services.html#models">模型库</a></li>
                                <li><a href="services.html#software">软件下载</a></li>
                                <li><a href="services.html#files">文件下载</a></li>
                                <li><a href="services.html#ques">常见问题</a></li>
                                <li><a href="services.html#news">3D打印机资讯</a></li>
                            </ul>
                        </li>
                        <li><a href="sell.html">销售网络</a></li> 
                        <li><a href="contact-us.html">联系我们</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
	</header><!--/header-->

    <section id="project">
    	<div class="container" id="one" >
            <div class="left">
                <h2 v-cloak>{{catalog}}</h2>
                <ol id="onel" class="breadcrumb">
                    <li v-for="item in list" v-cloak><a v-bind:index="item.id" href="javascript:void(0);" onclick="lo2(event)">{{item.name}}</a></li>
                </ol>
                <hr>
            </div>
            <div v-for="site in list">
                <div class="col-md-4 col-sm-6 project"> 
                    <div class="single-profile-bottom">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object"  v-on:click="detail" v-bind:id="site.id" :src="site.img" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4 v-cloak>{{site.name}}</h4>
                            </div>
                        </div>
                        <p v-cloak>{{site.brief}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="two" v-for="site in list">
            <div class="left">
                <h2 v-cloak>{{catalog}}</h2>
                <ol id="twol" class="breadcrumb">
                    <li v-for="item in list" v-cloak><a v-bind:index="item.id" href="javascript:void(0);" onclick="lo2(event)">{{item.name}}</a></li>
                </ol>
                <hr>
            </div>
            <div v-for="site in list">
                <div class="col-md-4 col-sm-6 project"> 
                    <div class="single-profile-bottom">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object"  v-on:click="detail" v-bind:id="site.id" :src="site.img" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4 v-cloak>{{site.name}}</h4>
                            </div>
                        </div>
                        <p v-cloak>{{site.brief}}</p>
                    </div>
                </div>
            </div>
        </div>
				
    </section>

    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>公司信息</h3>
                        <ul>
                            <li><a href="index.html">首页</a></li>
                            <li><a href="about-us.html">关于我们</a></li>
                            <li><a href="about-us.html">荣誉资质</a></li>
                            <li><a href="about-us.html">办公环境</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>产品中心</h3>
                        <ul>
                            <li><a href="project.html#diy">DIY桌面级3D打印机</a></li>
                            <li><a href="project.html#edu">教育类智能3D打印机</a></li>
                            <li><a href="project.html#ind">工业级智能3D打印机</a></li>
                            <li><a href="project.html#ind">Steam教育方案</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>配件及耗材</h3>
                        <ul>
                            <li><a href="accessory.html#1">打印机配件</a></li>
                            <li><a href="accessory.html#2">打印机耗材</a></li>   
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>服务支持</h3>
                        <ul>
                            <li><a href="services.html#models">模型库</a></li>
                            <li><a href="services.html#software">软件下载</a></li>
                            <li><a href="services.html#files">文件下载</a></li>
                            <li><a href="services.html#ques">常见问题</a></li>
                            <li><a href="services.html#ques">3D打印机资讯</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2018. 业务邮箱：sales@tronhoo3d.com 联系电话：13040878915
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="index.html">首页</a></li>
                        <li><a href="about-us.html">关于我们</a></li>
                        <li><a href="sell.html">销售网络</a></li>
                        <li><a href="contact-us.html">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
    

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/vue.js"></script>
    <script type="text/javascript">
		function lo2(event){
			window.location = "acDetail.html#" + event.target.attributes.index.value;
		}
        $.get("http://api.tronhoo3d.com/accessories",function (res) {
            var data = res.data;
            var oData = data[1], tData = data[2]; 
            var one = new Vue({
                        el: "#one",
                        data: oData,
                        methods: {
                            detail: function(event){
                                window.location = "acDetail.html#" + event.target.id;
                            }
                        }
                    });
            var two = new Vue({
                        el: "#two",
                        data: tData,
                        methods: {
                            detail: function(event){
                                window.location = "acDetail.html#" + event.target.id;
                            }
                        }
                    });
            var onel = new Vue({
                        el: "#onel",
                        data: oData
                    });
            var twol = new Vue({
                        el: "#twol",
                        data: tData
                    });
        })
    </script>
</body>
</html>