
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/tronhoo3d_ico_16x16.ico">
    <title>配件及耗材</title>
	
	<!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/project.css">
	
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head><!--/head-->

<body>

    <header id="header">

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">首页</a></li>
                        <li><a href="about-us.html">关于我们</a></li>
                        <li class="dropdown">
                            <a href="project.html" class="dropdown-toggle" data-toggle="project.html">产品中心 <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="project.html#diy">DIY桌面级3D打印机</a></li>
                                <li><a href="project.html#edu">教育类智能3D打印机</a></li>
                                <li><a href="project.html#ind">工业级智能3D打印机</a></li>
                                <li><a href="project.html#stm">STEAM教育方案</a></li>
                            </ul>
                        </li>
                        <li class="dropdown active">
                            <a href="accessory.html" class="dropdown-toggle" data-toggle="accessory.html">打印机配件 <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="accessory.html#控制模块">控制模块</a></li>
                                <li><a href="accessory.html#驱动模块">驱动模块</a></li>
                                <li><a href="accessory.html#光学模块">光学模块</a></li>
                                <li><a href="accessory.html#挤出模块">挤出模块</a></li>
                                <li><a href="accessory.html#电机">电机</a></li>
                                <li><a href="accessory.html#热床">热床</a></li>
                                <li><a href="accessory.html#传感器">传感器</a></li>
                                <li><a href="accessory.html#其他功能模块">其他功能模块</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="accessory2.html" class="dropdown-toggle" data-toggle="accessory2.html">打印机耗材 <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="accessory2.html#PLA">PLA</a></li>
                                <li><a href="accessory2.html#TPU">TPU</a></li>
                                <li><a href="accessory2.html#ABS">ABS</a></li>
                                <li><a href="accessory2.html#PCL">PCL</a></li>
                                <li><a href="accessory2.html#光敏树脂">光敏树脂</a></li>
                                <li><a href="accessory2.html#其他耗材">其他耗材</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="services.html" class="dropdown-toggle" data-toggle="services.html">服务支持 <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="services.html#models">3D模型库</a></li>
                                <li><a href="services.html#software">软件下载</a></li>
                                <li><a href="services.html#files">文件下载</a></li>
                                <li><a href="services.html#ques">常见问题</a></li>
                                <li><a href="services.html#news">3D打印机资讯</a></li>
                            </ul>
                        </li>
                        <li><a href="sell.html">销售网络</a></li> 
                        <li><a href="contact-us.html">联系我们</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
	</header><!--/顶部导航-->

     <section id="project">
        <div class="col-md-2 col-xs-11 col-sm-2 col-lg-2" style="height:450px;"></div><!-- 左侧导航栏占位 -->
        <div class="col-md-2 col-xs-11 col-sm-2 col-lg-2" id="list" style="position: fixed;z-index: 1000">
            <ul id="onel" class="nav nav-tabs nav-stacked" v-cloak>
                <li class="active" style="cursor:pointer;">
                    <a href="#" style="cursor:pointer">
                        <i class="fa fa-bars"></i>
                        {{catalog}}
                    </a>
                </li>
                <li v-for="iteml in list">
                    <a :href="'#' + iteml[0].item_type + 'l'" class="nav-header collapsed" data-toggle="collapse">
                        <i class="fa fa-bars"></i>
                        {{iteml[0].item_type}}
                        <span class="pull-right fa fa-angle-down"></span>
                    </a>
                    <ul v-bind:id="iteml[0].item_type + 'l'" class="nav nav-list collapse secondmenu" style="height: 0px;">
                        <li class="white" v-for="item in iteml" v-cloak><a v-bind:index="item.id" href="javascript:void(0);" onclick="lo2(event)"><i class="fa fa-tags"></i>{{item.name}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>  <!-- 左侧导航栏实际代码 -->

        <div class="col-md-10 col-sm-10 col-xs-12 col-lg-10" id = "one" >
            <div class="col-md-12 col-sm-12" v-for="model in list" v-bind:id="model[0].item_type">
                <div class="left">
                    <h2 v-cloak>{{model[0].item_type}}</h2>  
                    <hr>
                </div>
                <div v-for="site in model">
                    <div class="col-md-4 col-sm-6 project"> 
                        <div class="single-profile-bottom">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img class="media-object"  v-on:click="detail" v-bind:id="site.id" :src="site.img" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4 v-cloak>{{site.name}}</h4>
                                </div>
                            </div>
                            <p v-cloak>{{site.brief}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- 配件列表代码 -->
                
    </section>

        <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-2 col-sm-6"></div>
                <div class="col-md-2 col-sm-6">
                    <div class="widget">
                        <h3>公司信息</h3>
                        <ul>
                            <li><a href="index.html">首页</a></li>
                            <li><a href="about-us.html">关于我们</a></li>
                            <li><a href="about-us.html">荣誉资质</a></li>
                            <li><a href="about-us.html">办公环境</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-2 col-sm-6">
                    <div class="widget">
                        <h3>产品中心</h3>
                        <ul>
                            <li><a href="project.html#diy">DIY桌面级3D打印机</a></li>
                            <li><a href="project.html#edu">教育类智能3D打印机</a></li>
                            <li><a href="project.html#ind">工业级智能3D打印机</a></li>
                            <li><a href="project.html#ind">Steam教育方案</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-2 col-sm-6">
                    <div class="widget">
                        <h3>配件及耗材</h3>
                        <ul>
                            <li><a href="accessory1.html">打印机配件</a></li>
                            <li><a href="accessory2.html">打印机耗材</a></li>   
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-2 col-sm-6">
                    <div class="widget">
                        <h3>服务支持</h3>
                        <ul>
                            <li><a href="services.html#models">3D模型库</a></li>
                            <li><a href="services.html#software">软件下载</a></li>
                            <li><a href="services.html#files">文件下载</a></li>
                            <li><a href="services.html#ques">常见问题</a></li>
                            <li><a href="services.html#news">3D打印机资讯</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->
                <img class="contactImg" src="images/contact2.png" alt="官网二维码">
                <img class="contactImg" src="images/contact1.png" alt="微信公众号">
            </div>
        </div>
    </section><!--/#底部导航代码-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2018. 业务邮箱：sales@tronhoo3d.com 联系电话：13040878915
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="index.html">首页</a></li>
                        <li><a href="about-us.html">关于我们</a></li>
                        <li><a href="sell.html">销售网络</a></li>
                        <li><a href="contact-us.html">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#底部-->
    

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/vue.js"></script>
    <script type="text/javascript">
        var list = document.querySelector("#list");
        list.onclick = function(e) {
            if(e.target.hash == "#%E6%8E%A7%E5%88%B6%E6%A8%A1%E5%9D%97l") {
                document.querySelector("#控制模块").hidden = false;
                document.querySelector("#驱动模块").hidden = true;
                document.querySelector("#热床").hidden = true;
                document.querySelector("#光学模块").hidden = true;
                document.querySelector("#挤出模块").hidden = true;
                document.querySelector("#电机").hidden = true;
                document.querySelector("#传感器").hidden = true;
                document.querySelector("#其他功能模块").hidden = true;
            } else if(e.target.hash == "#%E9%A9%B1%E5%8A%A8%E6%A8%A1%E5%9D%97l") {
                document.querySelector("#控制模块").hidden = true;
                document.querySelector("#驱动模块").hidden = false;
                document.querySelector("#热床").hidden = true;
                document.querySelector("#光学模块").hidden = true;
                document.querySelector("#挤出模块").hidden = true;
                document.querySelector("#电机").hidden = true;
                document.querySelector("#传感器").hidden = true;
                document.querySelector("#其他功能模块").hidden = true;
            } else if(e.target.hash == "#%E7%83%AD%E5%BA%8Al") {
                document.querySelector("#控制模块").hidden = true;
                document.querySelector("#驱动模块").hidden = true;
                document.querySelector("#热床").hidden = false;
                document.querySelector("#光学模块").hidden = true;
                document.querySelector("#挤出模块").hidden = true;
                document.querySelector("#电机").hidden = true;
                document.querySelector("#传感器").hidden = true;
                document.querySelector("#其他功能模块").hidden = true;
            } else if(e.target.hash == "#%E5%85%89%E5%AD%A6%E6%A8%A1%E5%9D%97l") {
                document.querySelector("#控制模块").hidden = true;
                document.querySelector("#驱动模块").hidden = true;
                document.querySelector("#热床").hidden = true;
                document.querySelector("#光学模块").hidden = false;
                document.querySelector("#挤出模块").hidden = true;
                document.querySelector("#电机").hidden = true;
                document.querySelector("#传感器").hidden = true;
                document.querySelector("#其他功能模块").hidden = true;
            } else if(e.target.hash == "#%E6%8C%A4%E5%87%BA%E6%A8%A1%E5%9D%97l") {
                document.querySelector("#控制模块").hidden = true;
                document.querySelector("#驱动模块").hidden = true;
                document.querySelector("#热床").hidden = true;
                document.querySelector("#光学模块").hidden = true;
                document.querySelector("#挤出模块").hidden = false;
                document.querySelector("#电机").hidden = true;
                document.querySelector("#传感器").hidden = true;
                document.querySelector("#其他功能模块").hidden = true;

            } else if(e.target.hash == "#%E7%94%B5%E6%9C%BAl") {
                document.querySelector("#控制模块").hidden = true;
                document.querySelector("#驱动模块").hidden = true;
                document.querySelector("#热床").hidden = true;
                document.querySelector("#光学模块").hidden = true;
                document.querySelector("#挤出模块").hidden = true;
                document.querySelector("#电机").hidden = false;
                document.querySelector("#传感器").hidden = true;
                document.querySelector("#其他功能模块").hidden = true;

            } else if(e.target.hash == "#%E4%BC%A0%E6%84%9F%E5%99%A8l") {
                document.querySelector("#控制模块").hidden = true;
                document.querySelector("#驱动模块").hidden = true;
                document.querySelector("#热床").hidden = true;
                document.querySelector("#光学模块").hidden = true;
                document.querySelector("#挤出模块").hidden = true;
                document.querySelector("#电机").hidden = true;
                document.querySelector("#传感器").hidden = false;
                document.querySelector("#其他功能模块").hidden = true;

            } else if(e.target.hash == "#%E5%85%B6%E4%BB%96%E5%8A%9F%E8%83%BD%E6%A8%A1%E5%9D%97l") {
                document.querySelector("#控制模块").hidden = true;
                document.querySelector("#驱动模块").hidden = true;
                document.querySelector("#热床").hidden = true;
                document.querySelector("#光学模块").hidden = true;
                document.querySelector("#挤出模块").hidden = true;
                document.querySelector("#电机").hidden = true;
                document.querySelector("#传感器").hidden = true;
                document.querySelector("#其他功能模块").hidden = false;
            } else {
                document.querySelector("#控制模块").hidden = false;
                document.querySelector("#驱动模块").hidden = false;
                document.querySelector("#热床").hidden = false;
                document.querySelector("#光学模块").hidden = false;
                document.querySelector("#挤出模块").hidden = false;
                document.querySelector("#电机").hidden = false;
                document.querySelector("#传感器").hidden = false;
                document.querySelector("#其他功能模块").hidden = false;
            }
        }//点击导航栏改变右侧页面内容

		function lo2(event){
			window.location = "acDetail.html#" + event.target.attributes.index.value;
		}//导航栏部分根据id跳转到产品详情页面

        $.get("http://api.tronhoo3d.com/accessories",function (res) {
            var data = res.data;
            var oData = data[1]; 
            var one = new Vue({
                        el: "#one",
                        data: oData,
                        methods: {
                            detail: function(event){
                                window.location = "acDetail.html#" + event.target.id;
                            },
                            jump: function() {
                                if(window.location.hash != ""){
                                    window.location.href = window.location.hash;
                                    console.log(window.location.hash)
                                }
                                
                            }
                        },
                        mounted: function(){
                            this.jump();
                        }
                    });
            var onel = new Vue({
                        el: "#onel",
                        data: oData
                    });
        })//获取配件数据并通过vuejs渲染，并定义点击产品图片跳转到详细信息

    </script>
</body>
</html>