<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/tronhoo3d_ico_16x16.ico">

    <title>产品中心</title>
	
	<!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/project.css">
	
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
</head><!--/head-->

<body>

    <header id="header">

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">首页</a></li>
                        <li><a href="about-us.html">关于我们</a></li>
                        <li class="dropdown active">
                            <a href="project.html" class="dropdown-toggle" data-toggle="project.html">产品中心 <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="project.html#diy">DIY桌面级3D打印机</a></li>
                                <li><a href="project.html#edu">教育类智能3D打印机</a></li>
                                <li><a href="project.html#ind">工业级智能3D打印机</a></li>
                                <li><a href="project.html#stm">STEAM教育方案</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="accessory.html" class="dropdown-toggle" data-toggle="accessory.html">打印机配件 <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="accessory.html#控制模块">控制模块</a></li>
                                <li><a href="accessory.html#驱动模块">驱动模块</a></li>
                                <li><a href="accessory.html#光学模块">光学模块</a></li>
                                <li><a href="accessory.html#挤出模块">挤出模块</a></li>
                                <li><a href="accessory.html#电机">电机</a></li>
                                <li><a href="accessory.html#热床">热床</a></li>
                                <li><a href="accessory.html#传感器">传感器</a></li>
                                <li><a href="accessory.html#其他功能模块">其他功能模块</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="accessory2.html" class="dropdown-toggle" data-toggle="accessory2.html">打印机耗材 <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="accessory2.html#PLA">PLA</a></li>
                                <li><a href="accessory2.html#TPU">TPU</a></li>
                                <li><a href="accessory2.html#ABS">ABS</a></li>
                                <li><a href="accessory2.html#PCL">PCL</a></li>
                                <li><a href="accessory2.html#光敏树脂">光敏树脂</a></li>
                                <li><a href="accessory2.html#其他耗材">其他耗材</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="services.html" class="dropdown-toggle" data-toggle="services.html">服务支持 <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="services.html#models">3D模型库</a></li>
                                <li><a href="services.html#software">软件下载</a></li>
                                <li><a href="services.html#files">文件下载</a></li>
                                <li><a href="services.html#ques">常见问题</a></li>
                                <li><a href="services.html#news">3D打印机资讯</a></li>
                            </ul>
                        </li>
                        <li><a href="sell.html">销售网络</a></li> 
                        <li><a href="contact-us.html">联系我们</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
	</header><!--/header-->

    <section id="project">
        <div class="col-md-2 col-xs-11 col-sm-2 col-lg-2" style="visibility: hidden;z-index: 500">
            <ul id="main-nav" class="nav nav-tabs nav-stacked">
                <li class="active" style="cursor:pointer;">
                    <a href="#" style="cursor:pointer">
                        <i class="fa fa-bars"></i>
                        产品中心
                    </a>
                </li>
                <li>
                    <a class="nav-header collapsed" data-toggle="collapse">
                        <i class="fa fa-bars"></i>
                        DIY桌面级3D打印机
                        <span class="pull-right fa fa-angle-down"></span>
                    </a>
                </li>
                <li>
                    <a href="#edul" class="nav-header collapsed" data-toggle="collapse">
                        <i class="fa fa-bars"></i>
                        教育类智能3D打印机
                        <span class="pull-right fa fa-angle-down"></span>
                    </a>
                </li>
                <li>
                    <a href="#indl" class="nav-header collapsed" data-toggle="collapse">
                        <i class="fa fa-bars"></i>
                        工业级智能3D打印机
                        <span class="pull-right fa fa-angle-down"></span>
                    </a>
                </li>
                <li>
                    <a href="#stml" class="nav-header collapsed" data-toggle="collapse">
                        <i class="fa fa-bars"></i>
                        Steam教育方案
                        <span class="pull-right fa fa-angle-down"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-2 col-xs-11 col-sm-2 col-lg-2" id="list" style="position: fixed;z-index: 1000">
            <ul id="main-nav" class="nav nav-tabs nav-stacked">
                <li class="active" style="cursor:pointer;">
                    <a href="#" style="cursor:pointer">
                        <i class="fa fa-bars"></i>
                        产品中心
                    </a>
                </li>
                <li>
                    <a href="#diyl" class="nav-header collapsed" data-toggle="collapse">
                        <i class="fa fa-bars"></i>
                        DIY桌面级3D打印机
                        <span class="pull-right fa fa-angle-down"></span>
                    </a>
                    <ul id="diyl" class="nav nav-list collapse secondmenu" style="height: 0px;">
                        <li class="white" v-for="item in list" v-cloak><a v-bind:index="item.id" href="javascript:void(0);" onclick="lo(event)"><i class="fa fa-tags"></i>{{item.name}}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#edul" class="nav-header collapsed" data-toggle="collapse">
                        <i class="fa fa-bars"></i>
                        教育类智能3D打印机
                        <span class="pull-right fa fa-angle-down"></span>
                    </a>
                    <ul id="edul" class="nav nav-list collapse secondmenu" style="height: 0px;">
                        <li class="white" v-for="item in list" v-cloak><a v-bind:index="item.id" href="javascript:void(0);" onclick="lo(event)"><i class="fa fa-tags"></i>{{item.name}}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#indl" class="nav-header collapsed" data-toggle="collapse">
                        <i class="fa fa-bars"></i>
                        工业级智能3D打印机
                        <span class="pull-right fa fa-angle-down"></span>
                    </a>
                    <ul id="indl" class="nav nav-list collapse secondmenu" style="height: 0px;">
                        <li class="white" v-for="item in list" v-cloak><a v-bind:index="item.id" href="javascript:void(0);" onclick="lo(event)"><i class="fa fa-tags"></i>{{item.name}}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#stml" class="nav-header collapsed" data-toggle="collapse">
                        <i class="fa fa-bars"></i>
                        Steam教育方案
                        <span class="pull-right fa fa-angle-down"></span>
                    </a>
                    <ul id="stml" class="nav nav-list collapse secondmenu" style="height: 0px;">
                        <li class="white" v-for="item in list" v-cloak><a v-bind:index="item.id" href="javascript:void(0);" onclick="lo(event)"><i class="fa fa-tags"></i>{{item.name}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-12 col-lg-10">
        	<div class="col-md-12 col-sm-12 col-xs-12" id="diy">
        		<div class="left">
    				<h2 v-cloak>{{catalog}}</h2>
    			 <hr>
                </div>
                <div v-for="site in list">
                    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3 project"> 
                        <div class="single-profile-bottom" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img class="media-object"  v-on:click="detail" v-bind:id="site.id" :src="site.img" alt=""></a>
                                </div>
                                <div class="media-body pull-left">
                                    <h4 v-cloak>{{site.name}}</h4>
                                </div>
                            </div>
                            <p v-cloak>{{site.brief}}</p>
                        </div>
                    </div>
                </div>
        	</div>
        	<div class="col-md-12 col-sm-12 col-xs-12" id="edu">
    	    	<div class="left">
    				<h2 v-cloak>{{catalog}}</h2>
    				<hr>
    			</div>
                <div v-for="site in list">
                    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3 project"> 
                        <div class="single-profile-bottom" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img class="media-object"  v-on:click="detail" v-bind:id="site.id" :src="site.img" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4 v-cloak>{{site.name}}</h4>
                                </div>
                            </div>
                            <p v-cloak>{{site.brief}}</p>
                        </div>
                    </div>
                </div>
    		</div>
    		<div class="col-md-12 col-sm-12 col-xs-12" id="ind">
    			<div class="left">
    				<h2 v-cloak>{{catalog}}</h2>
    				<hr>
    			</div>
                <div v-for="site in list">
                    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3 project"> 
                        <div class="single-profile-bottom" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img class="media-object"  v-on:click="detail" v-bind:id="site.id" :src="site.img" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4 v-cloak>{{site.name}}</h4>
                                </div>
                            </div>
                            <p v-cloak>{{site.brief}}</p>
                        </div>
                    </div>
                </div>
    		</div>
            <div class="col-md-12 col-sm-12 col-xs-12" id="stm">
                <div class="left">
                    <h2 v-cloak>{{catalog}}</h2>
                    <hr>
                </div>
                <div v-for="site in list">
                    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3 project"> 
                        <div class="single-profile-bottom" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img class="media-object"  v-on:click="detail" v-bind:id="site.id" :src="site.img" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4 v-cloak>{{site.name}}</h4>
                                </div>
                            </div>
                            <p v-cloak>{{site.brief}}</p>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </section>
    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-2 col-sm-6"></div>
                <div class="col-md-2 col-sm-6">
                    <div class="widget">
                        <h3>公司信息</h3>
                        <ul>
                            <li><a href="index.html">首页</a></li>
                            <li><a href="about-us.html">关于我们</a></li>
                            <li><a href="about-us.html">荣誉资质</a></li>
                            <li><a href="about-us.html">办公环境</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-2 col-sm-6">
                    <div class="widget">
                        <h3>产品中心</h3>
                        <ul>
                            <li><a href="project.html#diy">DIY桌面级3D打印机</a></li>
                            <li><a href="project.html#edu">教育类智能3D打印机</a></li>
                            <li><a href="project.html#ind">工业级智能3D打印机</a></li>
                            <li><a href="project.html#ind">Steam教育方案</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-2 col-sm-6">
                    <div class="widget">
                        <h3>配件及耗材</h3>
                        <ul>
                            <li><a href="accessory1.html">打印机配件</a></li>
                            <li><a href="accessory2.html">打印机耗材</a></li>   
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-2 col-sm-6">
                    <div class="widget">
                        <h3>服务支持</h3>
                        <ul>
                            <li><a href="services.html#models">3D模型库</a></li>
                            <li><a href="services.html#software">软件下载</a></li>
                            <li><a href="services.html#files">文件下载</a></li>
                            <li><a href="services.html#ques">常见问题</a></li>
                            <li><a href="services.html#news">3D打印机资讯</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->
                <img class="contactImg" src="images/contact2.png" alt="官网二维码">
                <img class="contactImg" src="images/contact1.png" alt="微信公众号">
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2018. 业务邮箱：sales@tronhoo3d.com 联系电话：13040878915
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="index.html">首页</a></li>
                        <li><a href="about-us.html">关于我们</a></li>
                        <li><a href="sell.html">销售网络</a></li>
                        <li><a href="contact-us.html">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
    

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
    <script>
        var list = document.querySelector("#list");
        list.onclick = function(e) {
            if(e.target.hash == "#diyl") {
                document.querySelector("#diy").hidden = false;
                document.querySelector("#edu").hidden = true;
                document.querySelector("#ind").hidden = true;
                document.querySelector("#stm").hidden = true;
            } else if(e.target.hash == "#edul") {
                document.querySelector("#diy").hidden = true;
                document.querySelector("#edu").hidden = false;
                document.querySelector("#ind").hidden = true;
                document.querySelector("#stm").hidden = true;
            } else if(e.target.hash == "#indl") {
                document.querySelector("#diy").hidden = true;
                document.querySelector("#edu").hidden = true;
                document.querySelector("#ind").hidden = false;
                document.querySelector("#stm").hidden = true;
            } else if(e.target.hash == "#stml") {
                document.querySelector("#diy").hidden = true;
                document.querySelector("#edu").hidden = true;
                document.querySelector("#ind").hidden = true;
                document.querySelector("#stm").hidden = false;
            } else {
                document.querySelector("#diy").hidden = false;
                document.querySelector("#edu").hidden = false;
                document.querySelector("#ind").hidden = false;
                document.querySelector("#stm").hidden = false;
            }
        }
		function lo(event){
			window.location = "detail.html#" + event.target.attributes.index.value;
		}
        window.onload = function () {
            $.get("http://api.tronhoo3d.com/products",function (res) {
                var data = res.data;
                var diyData = data[1], eduData = data[2], indData = data[3],stmData = data[4]; 
                var vmdiy = new Vue({
                    el: "#diy",
                    data: diyData,
                    methods: {
                        detail: function(event){
                            window.location = "detail.html#" + event.target.id;
                        }
                    }
                });
                var vmedu = new Vue({
                    el: "#edu",
                    data: eduData,
                    methods: {
                        detail: function(event){
                            window.location = "detail.html#" + event.target.id;
                        }
                    }
                });
                var vmind = new Vue({
                    el: "#ind",
                    data: indData,
                    methods: {
                        detail: function(event){
                            window.location = "detail.html#" + event.target.id;
                        }
                    }
                });
                var vmstm = new Vue({
                    el: "#stm",
                    data: stmData,
                    methods: {
                        detail: function(event){
                            window.location = "detail.html#" + event.target.id;
                        }
                    }
                });
                var vmdiyl = new Vue({
                    el: "#diyl",
                    data: diyData
                });
                var vmedul = new Vue({
                    el: "#edul",
                    data: eduData
                });
                var vmindl = new Vue({
                    el: "#indl",
                    data: indData
                });
                var vmstml = new Vue({
                    el: "#stml",
                    data: stmData
                });
            })
        }
        changefix();
        window.onresize = function() {
            changefix();
        }
        function changefix() {
            var width = document.body.clientWidth;
            if (width < 768) {
                document.querySelector("#list").style.position = "absolute";
            }
        }
    </script>
</body>
</html>